	$FullscreenButton.pressed = Global.is_fullscreen
	if Global.is_fullscreen:
		DisplayServer.window_set_mode(DisplayServer.WINDOW_MODE_FULLSCREEN)
		resolution_dropdown.disabled = true 
		resolution_dropdown.tesxt="Fullscreen"